[Unit]
Description=waco
After=syslog.target network.target

[Service]
Type=simple
User=pi
ExecStart=/home/waco/.virtualenvs/waco-rpi/bin/python /opt/waco-rpi/waco_demo3.py $WACO_OPTS
EnvironmentFile=/etc/default/waco
Restart=on-abort

[Install]
WantedBy=multi-user.target
