[Unit]
Description=waco
After=syslog.target network.target

[Service]
Type=simple
User=pi
ExecStart=$VIRTUAL_ENV/bin/python /home/pi/projects/waco-rpi/waco_demo2.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
